<section class="about container">
    <div class="about-us">
        <img
            class="about__quote about__quote-opening"
            src="/svg/opening-quote.svg"
            alt="Opening Quote"
        />
        <div class="about__content">
            <span class="about__label">About Us</span>
            <h2 class="about__heading">
                Benefits of Joining <br />
                with Us
            </h2>
        </div>
        <img
            class="about__quote about__quote-closing"
            src="/svg/closing-quote.svg"
            alt="Closing Quote"
        />
    </div>

    <div class="statistics">
        <div class="statistics__item">
            <span class="statistics__number">5+</span>
            <p class="statistics__description">Years Of Journey</p>
        </div>
        <div class="statistics__item">
            <span class="statistics__number">500+</span>
            <p class="statistics__description">Happy Clients</p>
        </div>
        <div class="statistics__item">
            <span class="statistics__number">400+</span>
            <p class="statistics__description">Dedicated Members</p>
        </div>
    </div>

    <div class="grid grid--1x2 medias">
        <div class="media">
            <div class="icon-container">
                <img class="media__image" src="/svg/timer.svg" alt="" />
            </div>
            <div class="media__content">
                <h3 class="media__heading">flexible class</h3>
                <p class="media__description">
                    you can adapt the class to your busy life very easily
                    Workout everytime and everywhere.
                </p>
            </div>
        </div>
        <div class="media">
            <div class="icon-container">
                <img class="media__image" src="/svg/timer.svg" alt="" />
            </div>
            <div class="media__content">
                <h3 class="media__heading">flexible class</h3>
                <p class="media__description">
                    you can adapt the class to your busy life very easily
                    Workout everytime and everywhere.
                </p>
            </div>
        </div>
        <div class="media">
            <div class="icon-container">
                <img class="media__image" src="/svg/timer.svg" alt="" />
            </div>
            <div class="media__content">
                <h3 class="media__heading">flexible class</h3>
                <p class="media__description">
                    you can adapt the class to your busy life very easily
                    Workout everytime and everywhere.
                </p>
            </div>
        </div>
        <div class="media">
            <div class="icon-container">
                <img class="media__image" src="/svg/timer.svg" alt="" />
            </div>
            <div class="media__content">
                <h3 class="media__heading">flexible class</h3>
                <p class="media__description">
                    you can adapt the class to your busy life very easily
                    Workout everytime and everywhere.
                </p>
            </div>
        </div>
    </div>
</section>
