<div class="callout">
    <div class="callout__content">
        <div class="callout__form">
            <h2 class="callout__heading">
                Become a member of this workout class
            </h2>
            <div class="callout__controls">
                <input
                    type="email"
                    class="callout__input"
                    placeholder="Email Address"
                />
                <a class="btn btn--primary callout__button">Join Now</a>
            </div>
        </div>
    </div>
    <div class="callout__images">
        <img class="callout__image" src="/images/callout-img-one.png" alt="" />
        <img class="callout__image" src="/images/callout-img-two.png" alt="" />
        <img
            class="callout__image"
            src="/images/callout-img-three.png"
            alt=""
        />
        <img class="callout__image" src="/images/callout-img-four.png" alt="" />
    </div>
</div>
