<footer class="container footer">
    <div class="grid footer__content">
        <div class="footer__section">
            <img class="footer__logo" src="/svg/logo.svg" alt="" />
            <p class="footer__description">
                Online Training, and Consultation About Diet and Exercise
                tailored based on user needs.
            </p>
            <div class="icons">
                <div class="small-icon-container">
                    <i class="bx bxl-youtube"></i>
                </div>
                <div class="small-icon-container">
                    <i class="bx bxl-facebook"></i>
                </div>
                <div class="small-icon-container">
                    <i class="bx bxl-instagram"></i>
                </div>
            </div>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Product</h3>
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="#">Gym Equipment</a>
                </li>
                <li class="list__item"><a href="#">Suplement</a></li>
                <li class="list__item"><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Explore Us</h3>
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="#">FAQ</a>
                </li>
                <li class="list__item">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="list__item">
                    <a href="#">Term and Conditions</a>
                </li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">Contact</h3>
            <ul class="list footer__list">
                <li class="list__item">
                    <a href="#">hi@stayhealthy.com</a>
                </li>
                <li class="list__item"><a href="#">021-123-636</a></li>
                <li class="list__item">
                    <a href="#">stayhealthy.com</a>
                </li>
            </ul>
        </div>
    </div>
    <span class="rights">© 2021 StayHealty. All rights reserved</span>
</footer>
