<section class="hero">
    <div class="container">
        <header class="hero__header">
            <span class="hero__welcome">WELCOME TO THE CLUB</span>
            <h1 class="hero__title">
                Choose Your Programs, Pick Your Meal, Let’s Get Healthy.
            </h1>
        </header>
        <div class="hero__content">
            <p class="hero__description">
                StayHealthy provides Online Training, and Consultation About
                Diet and Exercise tailored based on user needs. We will provide
                a training model that can be accessed anytime and anywhere with
                the best trainers.
            </p>
            <div class="hero__buttons">
                <a href="#" class="btn btn--primary hero__btn-join">Join Now</a>
                <a href="#" class="btn btn--secondary hero__btn-contact"
                    >Contact Us</a
                >
            </div>
        </div>
        <div class="video-section">
            <div class="video-container">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/n69-eVLtevc?si=cmEF3ygs9UvnDGEn"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</section>
