<nav class="nav container collapsible">
    <a href="/" class="nav__logo">
        <img src="/svg/logo.svg" alt="" />
    </a>
    <img class="nav__toggler" src="/svg/menu.svg" alt="" />
    <ul class="list nav__list collapsible__content">
        <li class="list__item active"><a href="#">Home</a></li>
        <li class="list__item"><a href="#">Program</a></li>
        <li class="list__item"><a href="#">Nutritions</a></li>
        <li class="list__item"><a href="#">Pricing</a></li>
        <li class="list__item"><a href="#">About</a></li>
    </ul>
    <div class="nav__button-container collapsible__content">
        <a href="" class="btn btn--primary nav--button">Join Now</a>
    </div>
</nav>
