  <!-- Nutrition part-->
        <div class="nutrition container">
            <div class="grid grid--1x2">
                <div class="nutrition__images">
                    <div class="nutrition__image-container1">
                        <img
                            class="discipline"
                            src="/svg/Discipline.svg"
                            alt=""
                        />
                        <img
                            class="nutrition__image-one"
                            src="/images/nutritious-img-one.png"
                            alt=""
                        />
                    </div>
                    <div class="nutrition__image-container2">
                        <img
                            class="nutrition__image-two"
                            src="/images/nutritious-img-two.png"
                            alt=""
                        />
                        <img
                            class="eating-healthy"
                            src="/svg/eating-healthy.svg"
                            alt=""
                        />
                    </div>
                </div>
                <div class="nutrition__content">
                    <span class="nutrition__label">Nutritions</span>
                    <h2 class="nutrition__title">
                        meal preparation for
                        <span class="nutrition__title--break">workout</span>
                    </h2>
                    <p class="nutrition__description">
                        Don’t worry we have the best nutritionist for your
                        workout, firstly consult with our experts, we can make
                        your meal preparation based on
                        <span class="bold">
                            Total Daily Energy Expenditure.
                        </span>
                    </p>
                    <a href="#" class="btn btn--primary">Join Now</a>
                </div>
            </div>
        </div>