<div class="nutrition__images">
    <div class="nutrition__image-container1">
        <img class="discipline" src="/svg/Discipline.svg" alt="" />
        <img
            class="nutrition__image-one"
            src="/images/nutritious-img-one.png"
            alt=""
        />
    </div>
    <div class="nutrition__image-container2">
        <img
            class="nutrition__image-two"
            src="/images/nutritious-img-two.png"
            alt=""
        />
        <img class="eating-healthy" src="/svg/eating-healthy.svg" alt="" />
    </div>
</div>
