<section class="pricing">
    <div class="container">
        <header class="pricing__header">
            <span class="pricing__label">Pricing</span>
            <h2 class="pricing__title">
                CHOOSE YOUR PACKAGE
                <span class="pricing__title--break">FOR WORKOUT</span>
            </h2>
        </header>
        <div class="grid grid--1x3 pricing__cards">
            <div class="plan">
                <div class="pricing-card">
                    <div class="pricing-card__header">
                        <h3 class="pricing-card__title">Basic</h3>
                        <img
                            src="/images/pricing-img-one.png"
                            alt=""
                            class="pricing-card__image"
                        />
                    </div>
                    <div class="pricing-card__content">
                        <span class="pricing-card__trainer">The Rock</span>
                        <ul class="list list--tick">
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">3 Times A Week</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Full Zoom</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">PDF Module</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Meal Preparation</li>
                            </div>
                        </ul>
                    </div>
                    <div class="pricing-card__footer">
                        <span class="pricing-card__price">Rp2.000.000</span>
                        <span class="pricing-card__billing-cycle">/month</span>
                        <a href="#" class="btn btn--primary">Workout Now</a>
                    </div>
                </div>
            </div>
            <div class="plan plan--popular">
                <div class="pricing-card">
                    <div class="pricing-card__header">
                        <h3 class="pricing-card__title">Basic</h3>
                        <img
                            src="/images/pricing-img-one.png"
                            alt=""
                            class="pricing-card__image"
                        />
                    </div>
                    <div class="pricing-card__content">
                        <span class="pricing-card__trainer">The Rock</span>
                        <ul class="list list--tick">
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">3 Times A Week</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Full Zoom</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">PDF Module</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Meal Preparation</li>
                            </div>
                        </ul>
                    </div>
                    <div class="pricing-card__footer">
                        <span class="pricing-card__price">Rp2.000.000</span>
                        <span class="pricing-card__billing-cycle">/month</span>
                        <a href="#" class="btn btn--primary">Workout Now</a>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="pricing-card">
                    <div class="pricing-card__header">
                        <h3 class="pricing-card__title">Basic</h3>
                        <img
                            src="/images/pricing-img-one.png"
                            alt=""
                            class="pricing-card__image"
                        />
                    </div>
                    <div class="pricing-card__content">
                        <span class="pricing-card__trainer">The Rock</span>
                        <ul class="list list--tick">
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">3 Times A Week</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Full Zoom</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">PDF Module</li>
                            </div>
                            <div>
                                <span class="tick"></span>
                                <li class="list__item">Meal Preparation</li>
                            </div>
                        </ul>
                    </div>
                    <div class="pricing-card__footer">
                        <span class="pricing-card__price">Rp2.000.000</span>
                        <span class="pricing-card__billing-cycle">/month</span>
                        <a href="#" class="btn btn--primary">Workout Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
