<article class="programs-card">
    <img src="/images/programs-one.png" alt="" class="programs-card__image" />
    <div class="programs-card__content">
        <h3 class="programs-card__title">Full Body Workout</h3>
        <span class="programs-card__author">By The Rock</span>
        <p class="programs-card__description">
            You can do it in your own home, all in under 30 mins? just need a
            mat and som . . .
        </p>
        <a href="#" class="programs-card__link">Check out this program! </a>
    </div>
</article>
