<div class="statistics">
    <div class="statistics__item">
        <span class="statistics__number">5+</span>
        <p class="statistics__description">Years Of Journey</p>
    </div>
    <div class="statistics__item">
        <span class="statistics__number">500+</span>
        <p class="statistics__description">Happy Clients</p>
    </div>
    <div class="statistics__item">
        <span class="statistics__number">400+</span>
        <p class="statistics__description">Dedicated Members</p>
    </div>
</div>
